{
    "TOKEN": "",
    "COMMAND_PREFIX": "!",
    "DESCRIPTION": "",
    "LOGGING": {
        "LEVEL": {
            "ALL": 10,
            "CONSOLE": 10,
            "FILE": 20
        },
        "FILE": "log.txt"
    },
    "PRIVATE_COMMAND_CHANNEL": {
        "id": 0,
        "name": ""
    },
    "URL_ROOT": "https://getin-hr.celeodor.com/",
    "API_SECRET": ""
}
