{
  "TOKEN": "",
  "COMMAND_PREFIX": "!",
  "DESCRIPTION": "",
  "LOGGING": {
    "LEVEL": {
      "ALL": 20,
      "CONSOLE": 20,
      "FILE": 20
    },
    "FILE": "log.txt"
  },
  "PRIVATE_COMMAND_CHANNELS": {
    "RECRUITMENT": {
      "ID": "",
      "NAME": ""
    },
    "ACTIVITY": {
      "ID": "",
      "NAME": ""
    }
  },
  "URL_ROOT": "",
  "API_SECRET": "",
  "PASTEBIN_SECRET": ""
}