{
  "TOKEN": "",
  "COMMAND_PREFIX": "!",
  "DESCRIPTION": "",
  "LOGGING": {
    "LEVEL": {
      "ALL": 20,
      "CONSOLE": 20,
      "FILE": 20
    },
    "FILE": ""
  },
  "PRIVATE_COMMAND_CHANNELS": {
    "RECRUITMENT": {
      "ID": "",
      "NAME": ""
    },
    "ACTIVITY": {
      "ID": "",
      "NAME": ""
    }
  },
  "URL_ROOT": "",
  "API_SECRET": "",
  "PASTEBIN_SECRET": "",
  "PASTEBIN_USER_AGENT": "",
  "SubscribeRoles":[
		{
			"Role":"",
			"Name":"",
			"Type":"",
			"Description":""
		}
	],
	"SubscribeBlacklistedChannels":[
		{
			"ID":""
		}
	]
}